.main-header
{
    font-size: 1.8vw;
}

.navbar
{
    width: 20vw;
    max-width: 40rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar__ul
{
    font-size: 1.6vw;
}

#main-doc
{
    width: 75vw;
}

.section-title
{
  font-size: 1.7vw;
}

.theme-section
{
  font-size: 1.6vw;
}

footer
{
  font-size: 1.7vw;
}